<!DOCTYPE html>
<html lang="en-US">
<head>
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body ng-app="simulationApp">

<div ng-controller="mainCtrl">
<p>Age: {{ age }} Display-age: {{ displayAge }}</p>
<p>interval: <input ng-model="interval" /></p>
<p>displayEveryXthStep: <input ng-model="displayEveryXthStep" /></p>
<div>
<button ng-click="start();">Start</button>
<button ng-click="stop();">Stop</button>
<button ng-click="reset();">Reset</button>
</div>

</div>




<script type="application/javascript" src="app.js"></script>
</body>
</html>